<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>LAN FTP</title>
</head>
<body>
    <div class="can_download">
        <div class="list">
            <select id="downloadables">
                <option value="NONE" selected disabled>File List</option>
            </select>
        </div>
        <div class="options">
            <button id="download_btn" class="no_anim">DOWNLOAD</button>
            <button id="upload_btn" class="no_anim">UPLOAD<span id="percent"></span></button>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>